venv
pycache
imputation_values.json
ohe_columns.json
boxcox_lambda.json

/data/preprocessed/
/data/processed/
/artifacts/
/models_exp/
/reports_exp/
/model/
/reports/

# Other files to ignore
/logs/
/mlruns/
*.pyc
__pycache__/
.dvc/cache/
/models_exp
/reports_exp

.github\workflows\ci-cd.yaml
.github\workflows\retrain.yaml
